@model IEnumerable<SistemaReservas.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
    Layout = "~/Areas/Recepcao/Views/Shared/_Layout.cshtml";


}

<h3>Lista de Reservas</h3>

<table id="simple-table" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Usuario)
                </td>
                <td>
                   
                    <a href="@Url.Action("DetalhesReservas/"+item.ID)" class="btn btn-info btn-xs" > <i class="ace-icon fa fa-pencil bigger-120"></i> Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
